@use 'libs/theme/src/lib/theme/colors';

quill-editor {
  background: colors.$input;
  border-radius: 4px;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid black;
}

.ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.6);
}

quill-view-html .ql-editor {
  padding: 0px;
}